/* PC */
@media (min-width: 1024px) {}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {}

/* Mobile */
@media (max-width: 740px) {
    .col-s-12, .s-full-width {
        width: 100% !important;
    }

    .mt-s-8 {
        margin-top: 8px !important;
    }

    .mt-s-16 {
        margin-top: 16px !important;
    }

    #header {
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    #navbar {
        width: 100%;
    }

    #navbar #navbar-nav {
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: #2d2d30;
        display: none;
    }

    #navbar-nav > li:last-child {
        padding: 15px;
    }

    #navbar-nav .sub-nav {
        left: 0;
        z-index: 2;
    }

    #header #menu-mobile-btn {
        display: block;
    }

    #content .member-item,
    #content .place-item {
        width: 100%;
        margin-top: 30px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 16px;
    }

}
